<div class="switch switch__field" afterRender="change('private')">
    <div class="switch__item">
        <input data-bind="click: click,
        attr: {id: 'private_' + uid }"
        type="radio"
        name="order_type"
        value="private"
        checked="checked"/>
        <label data-bind="i18n: 'Private',
        attr: { for: 'private_' + uid }"
        for="radio-private"></label>
    </div>
    
    <div class="switch__item">
        <input data-bind="click: click,
        attr: {id: 'business_' + uid  }"
        type="radio"
        name="order_type"
        value="business"/>
        <label data-bind="i18n: 'Business',
        attr: { for: 'business_' + uid }"
        for="radio-business"></label>
    </div>
</div>
