//
//  Common
//  _____________________________________________
& when (@media-common = true) {
    .field {
        .switch {
            &__item {
                display: inline-block;
                &:first-child {
                    margin-right: 30px;
                }
            }
        }
    }
}